{% extends "base.html" %}
{% set active_page = "directory" %}

{% block title %}<title>Directory</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>Employees</h3>
      <p>Jonathan Merheb</p>
      <p>Marley Spoon</p>
      <p>Abe Pearson</p>
      <p>Jacob Damsell</p>
      <p>Peter Kitter</p>
    </div>
    

      <!-- column 2 -->
    <div class="col-sm-6">
      <h3>Job Title(s)</h3>
      <p>CEO</p>
      <p>COO</p>
      <p>CTO</p>
      <p>CFO</p>
      <p>CIO</p>
    </div>
      <!-- column 3 -->
    <div class="col-sm-6">
      <h3>Email Address</h3>
      <p>jonathan@libandor.com</p>
      <p>marley@libandor.com</p>
      <p>abe@libandor.com</p>
      <p>jacob@libandor.com</p>
      <p>peter@libandor.com</p>
    </div>
      <!-- column 4 -->
    <div class="col-sm-6">
      <h3>Phone Number</h3>
      <p>(603) 553-2222</p>
      <p>(603) 553-3333</p>
      <p>(603) 553-4444</p>
      <p>(603) 553-5555</p>
      <p>(603) 553-6666</p>
    </div>
  </div>
</div>
{% endblock %}