{% extends "base.html" %}
{% set active_page = "directory" %}

{% block title %}<title>Directory</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>Employee</h3>

      <p>Jonathan Merheb</p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->

      <h3>Job Title(s)</h3>
      <p>Owner</p>

      <!-- column 3 -->

      <h3>Email Address</h3>
      <p>jonathan@libandor.com</p>

      <!-- column 4 -->

      <h3>Phone Number</h3>
      <p>(603) 553-2222</p>
    </div>
  </div>
</div>
{% endblock %}