{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>News!</h3>

      <p>We are testing a new source for fresh pita bread. Come in Monday's and Wednesday's for a free loaf, we only ask
        that you give us feedback!</p>
      <p>------------------------</p>
      <p>Spring's seasonal fruit and vegetables are in. Come in to buy fresh almons, fava beans, and even janerik</p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->

      <h3>Welcome!</h3>
      <p>Thank you for visiting our website! We are a local business run by immagrants, trying to give others the
        experiences of an authentic arab culture. Stop by anytime Monday - Saturday from 9-5 and feel free to ask for a
        tour! We'd be pleased to show you around.</p>
      <p>Here is a little bit about us: Liban D'or opened up in Methuen, MA in 2010. It's run by the Eli and Lina Merheb with the support of their
        three sons. It provides the products found in any lebanese childhood here in the United States. From fresh pita
        bread, to authentic Lebanese wine / hard alcohol. Fresh lebanese cuisine can also be ordered daily such as
        homemade Hummus, Zaatar, and even baklava.</p>
    </div>
  </div>
</div>
{% endblock %}